.producthandler {
    display: flex;
    justify-content: center;
    height: 350px;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    background-color: white;
    align-items: center;
    border: 1px rgb(220, 220, 220) solid;
    text-align: center;
    width: 300px;
    height: 325px;
}

.product img {
    height: 150px;
}

.product .name {
    font-size: 17px;
}

.product button {
    background-color: #5ba38f;
    border: #5ba38f;
    color: white;
    width: 110px;
    height: 30px;
    font-size: 13px;
}

.producthandler :hover {
    box-shadow: 0px 0px 10px 3px #d3d3d3;
    padding-bottom: 25px;
}

.producthandler :hover .name {
    color: #5ba38f;
}

.product :hover .product_price {
    color: black;
}

.product :hover {
    box-shadow: none;
    padding: 0;
}

section {
    display: flex;
}

.cart {
    width: 100%;
    margin: 50px;
    margin-top: 20px;
    border: 2px rgb(220, 220, 220) solid;
    background-color: white;
    min-height: 500px;
}

.shopingcart {
    display: flex;
    flex-direction: column;
}

.cart_empty {
    display: flex;
    flex-direction: column;
}

.cart_empty_img {
    align-self: center;
    width: 131px;
    height: 116px;
}

.cart_empty_p {
    align-self: center;
    color: #bababa;
    font-size: 35px;
}

.cart_empty_none {
    display: none;
}

.price {
    display: flex;
    height: 126px;
    width: auto;
    align-items: center;
    margin-right: 40px;
    margin-left: 10px;
}

.price .total_price {
    margin-left: 30px;
}

.numproducts {
    display: flex;
    height: 126px;
    width: auto;
    align-items: center;
    margin-left: 40px;
}

.numproducts h1 {
    margin-left: 300px;
}

.newblock {
    background: black;
    color: white;
}

.cartelement {
    display: flex;
    height: 145px;
    width: 683px;
}

.elementinfo {
    display: flex;
    padding-top: 29px;
    padding-left: 41px;
    padding-bottom: 33px;
}

.cartelement img {
    height: 80px;
    width: 80px;
}

.cartelement h3 {
    font-size: 15px;
    padding-left: 26px;
    padding-right: 55px;
}

.cartelement>p {
    height: 111px;
    width: 112px;
    color: #2f3435;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 33px;
}

.elementbutton {
    width: 154px;
    height: 145px;
    padding-top: 25px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.elementbutton div {
    display: flex;
    justify-content: center;
}

.elementbutton button {
    border: 0;
    background: #f3f3f5;
    width: 30px;
    height: 36px;
    padding: 0;
}

.elementbutton input {
    border: 0;
    background: #f3f3f5;
    width: 32px;
    height: 22px;
    padding: 7px 0;
    text-align: center;
}

.elementbutton p {
    text-align: center;
    font-size: 14px;
    color: #a1a1a1;
}

.clear {
    background-color: white;
    border: 2px rgb(220, 220, 220) solid;
    color: black;
    width: 110px;
    height: 40px;
    font-size: 13px;
}

.show_expensive {
    background-color: white;
    border: 2px rgb(220, 220, 220) solid;
    color: black;
    width: 160px;
    height: 40px;
    font-size: 13px;
}

.show_cheap {
    background-color: white;
    border: 2px rgb(220, 220, 220) solid;
    color: black;
    width: 160px;
    height: 40px;
    font-size: 13px;
}